body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
background: #f7f7f7;
display: flex;
justify-content: center;
align-items: flex-start;
height: 100vh;
}


.container {
width: 90%;
max-width: 1200px;
display: flex;
gap: 40px;
margin-top: 40px;
}